<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <title>E-mails - Assignment</title>
    </head>
    <script>
        

    </script>
    <body>
        <div id="container">
            <header class="header_footer">
                <img src="{{ url_for('static', filename='Coding-Dojo-logo.png') }}">
                <h1>Flask MySQL Assignment - E-mails</h1>
            </header>
            <main>
                <h2 class="change1">CodingDojo - Wall</h2>
                <p class="change1">{{ session['full_name'] }}</p>
                <p class="change1"><a href="/logoff" class="change">Log off</a></p>
                <div id="forms2">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          {% for message in messages %}
                            <p>{{message}}</p>
                          {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form action="/postmessage" method="POST"> 
                        <label for="message">Post a message</label>
                        <textarea name="message" id="message" cols="115" rows="4"></textarea>
                        <input type="submit" name="submit" value="Post message" class="button1">
                    </form>
                    {% for message in postmessages%}
                        <p class="sytlep1">{{message['message_full_name']}} - {{message['message_updated']}}</p>
                        <p>{{message['message']}}</p>
                        {% if message['message_full_name'] == session['full_name'] %}
                            <a href="/deletemessage/{{message['message_id']}}" id="edita">Delete Message</a>
                        {% endif %}   
                        {% for comment in postcomments%}
                                {% if message['message_id'] == comment['message_id'] %}
                                <p class="sytlepcomment sytlep1">{{comment['comment_full_name']}} - {{comment['comment_updated']}}</p>
                                <p class="sytlepcomment">{{comment['comment']}}</p>                        
                            {% endif %}
                        {% endfor %}
                        <form action="/postcomment/{{message['message_id']}}" method="POST" id="formcomment"> 
                            <label for="comment" class="sytlepcomment">Post a comment</label>
                            <textarea name="comment" id="comment" cols="105" rows="4" class="sytlepcomment"></textarea>
                            <input type="submit" name="submit" value="Post comment" class="button1 sytlepcomment">
                        </form>
                    {% endfor %}
                </div>
            </main>                     
            <footer class="header_footer">
                <h3>Katia Cavalcanti</h3>
            </footer>
        </div>
    </body>
</html>